{% extends "base.html" %}
{% load cms_tags %}

{% block about %}active{% endblock %}

{% block base_content %}
<div class="blog-post">
    <h2 class="blog-post-title"><a href="/news/about/">Обо мне</a></h2>
    <hr>
    <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. А ещё я играю на бонго__)</p>
    </div>
{% endblock%}