{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
<div class="blog-post">
    <h2 class="blog-post-title"><a href="/news/get/{{ news.id }}/">{{ news.title }}</a></h2>
    <p class="blog-post-meta">Дата публикации:&nbsp;{{ news.creation_date }}</p>
    <p>{{ news.text }}</p>
    <p>
        <form action="" method="post">{% csrf_token %}
            <button type="submit" class="btn btn-default {% if errors %} btn-danger {% else%} btn-primary {% endif%}">
                <span class="glyphicon glyphicon-thumbs-up glyphicon-lg"></span>Like:&nbsp;{{ likes }}</button>
        </form>
        {% if errors %}
        <ul class="text-left">
            {% for error in errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </p>
</div>
{% endblock%}