{% extends "base.html" %}
{% load cms_tags %}

{% block news %}active{% endblock %}

{% block base_content %}
  {% placeholder template_news %}      


{% for new in news %}
<div class="blog-post">
    <h2 class="blog-post-title"><a href="/news/get/{{ new.id }}/">{{ new.title}}</a></h2>
    <p class="blog-post-meta">
        Дата публикации:&nbsp;{{ new.creation_date}}
    </p>
        <p>{{ new.text }}</p>
</div><!-- /.blog-post -->
{% endfor %}

<ul class="pagination">
            {% if news.has_previous %}
                <li><a href="/news/page/{{ news.previous_page_number }}/">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="">&laquo;</a></li>
            {% endif %}

            {% for page in news.paginator.page_range %}
                {% if page == news.number %}
                    <li class="active"><a href="/news/page/{{ page }}/">{{ page }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="/news/page/{{ page }}/">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if news.has_next %}
                <li><a href="/news/page/{{ news.next_page_number }}/">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="">&raquo;</a></li>
            {% endif %}
</ul>
{% endblock %}