{% load cms_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "local-static/bootstrap/ico/favicon.ico" %}">

    <title>{% block title %}Сайт коротких новостей{% endblock%}</title>

    <!-- Bootstrap core CSS -->
{% addtoblock "css" %}
    <link href="{% static "local-static/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
{% endaddtoblock %}
    <!-- Custom styles for this template -->
{% addtoblock "css" %}
    <link href="{% static "local-static/bootstrap/css/blog.css" %}" rel="stylesheet">
{% endaddtoblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css"></style><style id="holderjs-style" type="text/css"></style>
{% render_block "css" %}
</head>


<body>
{% block header %}
<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item {% block news %}{% endblock %}" href="/news/">Home</a>
          <a class="blog-nav-item {% block about %}{% endblock %}" href="/news/about/">About</a>
        </nav>
      </div>
    </div>


{% endblock %}

<p><a name="top"></a></p>
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Сайт коротких новостей</h1>
    <p class="lead blog-description">Данный сайт создан с помощью официального шаблона Bootstrap.</p>
  </div>
  <div class="row">
        <div class="col-sm-8 blog-main">
      {% cms_toolbar %}
      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="./Blog Template for Bootstrap_files/Blog Template for Bootstrap.htm">GitHub</a></li>
              <li><a href="./Blog Template for Bootstrap_files/Blog Template for Bootstrap.htm">Twitter</a></li>
              <li><a href="./Blog Template for Bootstrap_files/Blog Template for Bootstrap.htm">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->


    </div><!-- /.row -->
</div><!-- /.container -->    
{% block footer %}

  <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.&nbsp;&nbsp;Site developed by <a href="mailto:duza@tut.by?subject=Very nice Blog">duza</a>.</p>
    <a href="#top">Back to top</a>
      </p>
    </div>
{% endblock %}
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% addtoblock "js" %}
    <script src="{% static "local-static/bootstrap/js/jquery.min.js" %}"></script>
    {% endaddtoblock %}
    
    {% addtoblock "js" %}
    <script src="{% static "local-static/bootstrap/js/bootstrap.min.js" %}"></script>
    {% endaddtoblock %}
    
    {% addtoblock "js" %}
    <script src="{% static "local-static/bootstrap/js/docs.min.js" %}"></script>
    {% endaddtoblock %}

{% render_block "js" %}
</body></html>